*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Segoe";
  src: url("../fonts/SegoeUI-Light.ttf") format("ttf");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Segoe";
  src: url("../fonts/SegoeUI.ttf") format("ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Segoe";
  src: url("../fonts/SegoeUI-SemiBold.ttf") format("ttf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Segoe";
  src: url("../fonts/SegoeUI-Bold.ttf") format("ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

body {
  font-family: "Segoe", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  background: #6725a8;
}

.header__inner {
  padding: 19px 24px;
  background: #6725a8;
  display: flex;
  justify-content: space-between;
  gap: 29px;
}

.header__left {
  width: 100%;
  max-width: 175px;
  display: flex;
}

.header__left-catalog {
  width: 48px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.45);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 12px 10px;
  margin-right: 16px;
  cursor: pointer;
}

.header__left-catalog span {
  display: block;
  width: 26px;
  background: #ffffff;
  height: 3px;
  position: relative;
  border-radius: 10px;
}

.header__left-catalog span:before,
.header__left-catalog span:after {
  content: "";
  width: 27px;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  border-radius: 10px;
}

.header__left-catalog span:after {
  top: 10px;
}

.header__left-catalog span:before {
  top: -10px;
}

.header__left-text {
  padding: 2px 0 0 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.header__left-text_two {
  letter-spacing: 1.5px;
  padding: 0 0 0 1.5px;
}
.header__search {
  width: 100%;
  max-width: 970px;
  height: 48px;
  border-radius: 36px;
  display: flex;
  align-items: center;
  position: relative;
}

.header__search:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto 0;
  width: 25px;
  height: 25px;
  background: url("../images/icons/icon-search.svg") no-repeat;
  background-size: cover;
}

.header__search-input {
  width: 100%;
  height: 100%;
  padding: 12px 20px 10px 17px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 36px;
  border: none;
  outline: none;
}

.header__search-input::placeholder {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.5;
}

.header__right {
  width: 100%;
  max-width: 149px;
  display: flex;
  justify-content: space-between;
}

.header__right-profile,
.header__right-basket {
  width: 100%;
  height: 100%;
  max-width: 58px;
  max-height: 56px;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.header__right-profile_icon {
  margin-top: -3px;
}
.header__right-text {
  margin-top: 4px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}
.header__right-text_shift {
  margin-left: 7px;
}
.header__right-circle {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: rgba(245, 81, 35, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: white;
  top: -7px;
  right: 4px;
}
.header__search-mobile {
  display: none;
}

/*main*/
.basket__inner {
  padding: 24px 24px 16px 24px;
  display: flex;
  gap: 29px;
  justify-content: space-between;
  background: #f6f6fa;
  border-radius: 24px;
}

.basket__content {
  margin-top: 12px;
  width: 100%;
  max-width: 891px;
}

.basket__total {
  width: 100%;
  max-width: 429px;
  max-height: 580px;
  border-radius: 16px;
}

.basket__content-title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.01em;
  color: #000000;
}

.basket__choose {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.fake {
  display: none;
}
/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox + label {
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 9px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/*!* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked *!*/
/*.custom-checkbox:focus:not(:checked)+label::before {*/
/*  border-color: #CB11AB;*/
/*}*/

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox:checked + label::before {
  border-color: #cb11ab;
  background-color: #cb11ab;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.basket__choose-icon {
  margin-left: auto;
  cursor: pointer;
  padding-left: 3px;
}

.rotate-icon {
  transform: rotate(180deg);
}

.basket__content-items {
  margin-top: 25px;
}

.basket__items {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 12px;
}
.close {
  display: none;
}

.basket__item {
  display: flex;
}

.basket__item + .basket__item {
  margin-top: 28px;
}

.item__checkbox {
  margin-top: 37px;
}
/* .item__checkbox_first{
  margin-top: 39px;
} */
.item__info {
  display: flex;
}

.item__info-description {
  margin-left: 19px;
  width: 100%;
  max-width: 275px;
  position: relative;
}
.item__info-description_two {
  margin-left: 18px;
}
.item__info-options {
  display: flex;
  justify-content: space-between;
  max-width: 156px;
  margin: 8px 0;
}

.hide {
  display: none;
}

.option__size-third_item {
  display: none;
}

.option__third_item {
  display: none;
}

.item__info-name {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.item__info-name_first {
  margin-top: 3px;
}
.option__color,
.option__size {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.address__top {
  margin-bottom: -1px;
}
.item__info-description_third {
  margin-top: 3px;
}
.address__bottom {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
}

.address__bottom img {
  margin-left: 5px;
  cursor: pointer;
}

.address__top,
.address__bottom {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #a0a0a4;
}
.address__top_name {
  margin-bottom: 1px;
}
.address__info {
  cursor: pointer;
}
.addres__top_third {
  margin-bottom: 4px;
}
.item__info-address {
  margin-top: 6px;
  position: relative;
}

.additional {
  display: none;
  position: absolute;
  /*top: -40px;*/
  bottom: 40px;
  padding: 10px 15px;
  width: 285px;
  height: 104px;
  background: #ffffff;
  border-radius: 8px;
}
.address__bottom img:hover + .additional {
  display: block;
}

.additional {
  color: #000000;
}

.additional__bold {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
}

.additional__normal {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin-top: 8px;
}

.item__counter {
  margin-left: auto;
  max-width: 120px;
  width: 100%;
}

.item__counter-block {
  margin-left: 6px;
  width: 100px;
  height: 44px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__counter-block_decrease {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.item__counter-block_increase {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
  cursor: pointer;
}

.item__counter-block_count {
  font-size: 15px;
}

.item__counter-count {
  margin-left: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 10px;
  color: rgba(245, 81, 35, 1);
}
.item__counter-count_third {
  padding-top: 1px;
}
.item__counter-count_one {
  padding-top: 1px;
}
.item__counter-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 0px 16px 1px 0;
}
.button__favorite,
.button__delete {
  cursor: pointer;
}

.button__delete {
  margin-left: 16px;
}

.item__cost {
  width: 100%;
  max-width: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.item__cost_mobile {
  display: none;
}

.item__cost__new-cost {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: -0.01em;
}
.item__cost__new-cost_value {
  margin-right: 5px;
}
.item__cost__new-cost_currency {
  font-size: 16px;
}
.item__cost__old-cost {
  margin-top: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #a0a0a4;
  border-bottom: 1px dashed #a0a0a4;
  text-decoration: line-through;
}
.one {
  padding: 1px 14px 1px 0;
}
.two {
  padding: 3px 14px 1px 0;
}
.three {
  padding: 3px 14px 1px 0;
}

.item__cost-small {
  font-size: 16px;
}

/*out items*/
.basket__content-out {
  margin-top: 35px;
}
.first {
  margin-top: 4px;
  margin-left: 13px;
}
.second {
  margin-top: 6px;
}
.third {
  margin-top: 3px;
}
.item-out {
  color: #a0a0a4;
}
.basket__item + .item-outs {
  color: #a0a0a4;
  margin-top: 22px;
  padding-bottom: 5px;
}
.image-out {
  filter: grayscale(1);
}

.counter-out {
  margin-right: 112px;
}

.description-out {
  max-width: 300px;
}

/*delivery method*/
.basket__content-delivery {
  background: #ffffff;
  border-radius: 16px;
  margin-top: 33px;
  padding: 16px 24px;
}

.delivery__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delivery__header-text {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.9px;
}

.delivery__header-btn {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #cb11ab;
  border: none;
  background: inherit;
  cursor: pointer;
  padding: 5px 2px 0 0;
}

.delivery__content {
}

.delivery__content-point {
  display: flex;
  align-items: baseline;
  margin-top: 18px;
}

.delivery__content-point_four {
  margin-top: 14px;
}
.delivery__content-point_three {
  margin-top: 16px;
}
.caption {
  width: 100%;
  max-width: 160px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  align-self: flex-start;
  letter-spacing: -0.5px;
}
.delivery__content-point_two {
  margin-top: 14px;
}
.description {
  font-style: normal;
  font-weight: 400;
}
.price {
  margin-top: 1px;
}
.description__span_name {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}
.description__star {
  width: 16px;
  font-size: 13px;
  line-height: 16px;
}

.description__span {
  display: flex;
  align-items: center;
  padding-top: 5px;
}
.description__span_schedule {
  margin-left: 2px;
}
.description_street {
  margin-left: -3px;
  letter-spacing: -0.1px;
}
.delivery__icons img + img {
  margin-left: -3px;
}
.delivery__icons {
  gap: 1px;
  max-width: 140px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.delivery__content-note {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.note__text {
  letter-spacing: -0.1px;
  margin-left: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.note__text_refusal{
  display: none;
}
.note__text span {
  color: #0cb477;
  cursor: pointer;
}

.note__info {
  position: absolute;
  right: 100px;
  top: 25px;
  max-width: 288px;
  padding: 10px 14px;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  font-weight: 400;
  font-size: 13px;
  opacity: 0;
  line-height: 16px;
}

.note__text:hover ~ .note__info {
  opacity: 1;
}

/*payment method*/
.basket__content-payment {
  background: #ffffff;
  border-radius: 16px;
  margin-top: 26px;
  padding: 16px 24px;
}

.payment__content {
  display: flex;
  align-items: center;
  margin-top: 14px;
  letter-spacing: 0.1px;
}

.payment__content img {
  margin-right: 8px;
}

.payment__content-numbers {
  font-size: 16px;
  margin-right: 12px;
  padding-left: -1px;
}
.payment__content-numbers_card{
  padding-left: 7px;
  font-size: 13px;
  letter-spacing: -0.2px;
}
.payment__info {
  margin-top: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #a0a0a4;
}

/*form*/
.basket__content-form {
  background: #ffffff;
  border-radius: 16px;
  margin-top: 24px;
  padding: 16px 26px;
  margin-bottom: 14px;
}

.form__content {
  margin: 34px 0 46px;
}

.form__content-first_row,
.form__content-second_row {
  gap: 24px;
  display: flex;
}

.form__content-second_row {
  margin-top: 37px;
}

.first_row-name,
.first_row-surname,
.second_row-post,
.second_row-phone,
.second_row-inn {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}

.first_row-name input,
.first_row-surname input,
.second_row-post input,
.second_row-phone input,
.second_row-inn input {
  height: 27px;
  outline: none;
  border: unset;
  width: 100%;
}

.first_row-name input::placeholder,
.first_row-surname input::placeholder,
.second_row-post::placeholder,
.second_row-phone::placeholder,
.second_row-inn::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #a0a0a4;
}

.second_row-inn {
  position: relative;
}

.second_row-inn_additional {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  position: absolute;
  bottom: -20px;
}

.common {
  position: relative;
}

.common__placeholder {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  pointer-events: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #a0a0a4;
}

.common input:focus ~ span,
.common input:valid ~ span {
  font-size: 13px;
  color: #a0a0a4;
  transform: translateY(-16px);
}

/*errors*/
.common__info {
  display: none;
}

.error {
  border-bottom: 1px solid #f55123;
}

.error input {
  color: #f55123;
}

.common__error {
  display: block;
  position: absolute;
  font-weight: 400;
  left: 0;
  bottom: -20px;
  font-size: 12px;
  line-height: 14px;
  color: #f55123;
}

/*basket total*/
.basket__total {
  width: 100%;
  max-width: 429px;
  padding: 16px 24px;
  background: #ffffff;
}

.basket__total-header {
  display: flex;
  justify-content: space-between;
}

.basket__text {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.2px;
  padding-left: 3px;
}

.basket__cost {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.basket__total-total {
  margin-top: 7px;
  margin-left: 3px;
}

.total__count {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.total__count_first {
  min-width: 80px;
  text-align: right;
}
.total__count p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.basket__total-delivery {
  margin-top: 24px;
}

.delivery-total__header {
  padding-left: 3px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
delivery-total__header_name {
  letter-spacing: -0.1px;
}
.delivery-total__header img {
  cursor: pointer;
}

.delivery-total__card img {
  cursor: pointer;
}

.delivery-total__subheader {
  letter-spacing: -0.1px;
  padding-left: 2.2px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin-top: 4px;
  margin-bottom: 3px;
}

.delivery-total__span {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #cb11ab;
  margin-top: 4px;
  padding-left: 4px;
}

.delivery-total-note {
  position: relative;
  background: #f6f6fa;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 9px 11px;
  margin-top: 12.8px;
}

.delivery__info {
  top: 45px;
}

.delivery-total__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 26px;
  padding-left: 2px;
}

.delivery-total__card p {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.delivery-total__card-numbers {
  display: flex;
  align-items: center;
  margin-top: 5px;
  padding-left: 3px;
}

.delivery-total__write-off {
  margin-top: 12px;
  padding: 8px;
  background: #f6f6fa;
  border-radius: 8px;
}
.delivery-total__write-off_name{
  font-size: 13px;
  letter-spacing: -0.2px;
}
.delivery-total__write-off p {
  letter-spacing: 0.09px;
  margin-top: 5px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.delivery-total__order {
  width: 100%;
  height: 44px;
  background: #cb11ab;
  border-radius: 8px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
  margin-top: 28px;
}

.delivery-total__agree {
  margin-top: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.delivery-total__agree_jackdaw {
  margin-bottom: 10px;
}
.agree {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.agree-checkbox + label {
  display: inline-flex;
  align-items: flex-start;
  user-select: none;
}

.agree-checkbox:checked + label::before {
  border-color: #cb11ab;
  background-color: #cb11ab;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='000000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.agree-checkbox:checked + label::before {
  border-color: #ffffff;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='000000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.agree-checkbox:checked + label::before {
  background-color: #ffffff;
}

.footer__inner {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__inner-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.7);
}

/*delivery method change*/
.modal-method {
  padding: 10px;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1400;
  text-align: center;
  white-space: nowrap;
  font-size: 20px;
  background: rgba(5, 0, 10, 0.3);
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-method__inner {
  width: 100%;
  max-width: 500px;
  max-height: 410px;
  background: #ffffff;
  padding: 12px 22px;
  border-radius: 16px;
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__header p {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.modal__header img {
  cursor: pointer;
}

.modal__content {
  margin-top: 13px;
  position: relative;
}

.modal__content-row {
  display: flex;
  align-items: center;
  position: relative;
}

.modal__content-row + .modal__content-row {
  margin-top: 16px;
}

.modal__content-row img {
  margin: 0 5px 0 11px;
}

.modal__content-row_delivery{
  max-width: 224px;
  width: 100%;
  border-radius: 20px;
  padding: 9px 61px;
  gap: 16px;
  border: 2px solid rgba(203, 17, 171, 0.15);
  display: flex;
  justify-content: center;
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
}
.modal__content_name{
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
  margin-top: 3px;
}
.modal__content_delete{
 position: absolute;
 right: 0;
}
.modal-btn_payment {
  margin-top: 130px;
  max-width: 164px;
  margin-right: 80%;
  
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
    
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: -6px;
    width: 16px;
    height: 16px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
    
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 6px;
    height: 6px;
    background: #F87DA9;
    position: absolute;
    top: -1px;
    left:5.5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.open {
  display: flex;
}

@media (max-width: 1024px) {
  .basket__total {
    max-width: 307px;
    max-height: 600px;
  }

  .caption {
    max-width: 184px;
    letter-spacing: -0.7px;
  }
  .delivery-total__agree {
    margin-top: 11px;
    gap: 12px;
  }
  .delivery-total__agree_jackdaw {
    margin-bottom: 27px;
  }
  .delivery-total__write-off_name{
    font-size: 13px;
  }
}

@media (max-width: 991px) {
  .basket__total,
  .item__cost {
    display: none;
  }
}

@media (max-width: 575px) {
  .header__right,
  .header__search {
    display: none;
  }

  .header__inner {
    padding: 14px;
  }
  .header__left {
    max-width: 337px;
    align-items: center;
    justify-content: space-between;
  }

  .header__left-catalog span:after {
    width: 19px;
  }
  .header__left-catalog {
    height: 28px;
    width: 28px;
    margin-right: unset;
    border: unset;
    padding: unset;
  }

  .header__left-text {
    font-size: 22px;
    padding: 0;
  }

  .header__search-mobile {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
  }

  .header__search-mobile img svg {
    fill: #ffffff;
    opacity: 1;
  }

  .basket__content-title {
    font-size: 20px;
  }
}
@media (min-width: 1400px) {
  .description {
    font-style: normal;
    font-weight: 400;
    padding-left: 24px;
  }
  .delivery__content-point {
    display: flex;
    align-items: baseline;
    margin-top: 16px;
  }
  .delivery__icons {
    gap: 1px;
    max-width: 140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 23px;
  }
  .price {
    margin-top: 4px;
  }
  .payment__content-numbers {
    font-size: 16px;
    margin-right: 12px;
    padding-left: -1px;
  }
  .payment__content-numbers {
    font-size: 16px;
    margin-right: 15px;
    margin-left: -1px;
  }
  .delivery__header-btn {
    padding: 5px 0px 0 0;
  }
  .form__content-first_row,
  .form__content-second_row {
    gap: 24px;
    display: flex;
    padding-right: 144px;
  }
  .basket__total-total {
    margin-top: 7px;
    margin-left: 0px;
  }
  .basket__choose_all {
    font-size: 16px;
    color: black;
    font-weight: 400;
  }
  .basket__total {
    width: 100%;
    max-width: 429px;
    padding: 15px 24px;
    background: #ffffff;
    max-height: 571px;
  }
  .custom-checkbox + label {
    font-size: 13px;
    letter-spacing: -0.3px;
}
  .delivery-total__header {
    padding-left: 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .delivery-total__header_name {
    letter-spacing: -0.2px;
  }
  .delivery-total__subheader {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    margin-top: 4px;
    margin-bottom: 3px;
    letter-spacing: -0.2px;
  }
  .delivery-total__span {
    padding-left: 1px;
  }
  .note__text_line {
    display: none;
  }
  .delivery-total-note {
    padding: 9px 10px;
  }
  .note__text {
    margin-left: 6px;
  }
  .delivery-total__card {
    margin-top: 28px;
    padding-left: 0;
  }
  .delivery-total__card-numbers {
    margin-top: 3px;
    padding-left: 0;
  }
  .payment__content-numbers_card {
    margin-left: 0px;
    font-size: 13px;
    letter-spacing: 0.18px;
  }
  .delivery-total__write-off p {
    letter-spacing: 0;
  }
  .l {
    margin-right: 0;
  }
  .custom-checkbox .l {
    margin-right: 0;
  }
  .agree__name {
    display: none;
  }
}
@media (max-width: 320px) {
  .header__inner {
    padding: 14px;
    gap: 24px;
  }
  .header__left {
    max-width: 253px;
    align-items: center;
    justify-content: space-between;
  }
  .header__left-catalog span:after {
    top: 8px;
  }
  .header__left-catalog span:after {
    width: 15px;
  }
  .header__left-text_one {
    letter-spacing: -0.5px;
  }
  .header__left-text_two {
    letter-spacing: 0;
  }
  .header__left-catalog {
    height: 28px;
    width: 28px;
    margin-right: unset;
    border: unset;
    padding: unset;
  }
  .header__left-text {
    font-size: 22px;
    padding: 0;
  }
  .header__left-catalog span:before {
    top: -8px;
  }
  .basket__content-title {
    font-size: 20px;
  }
  .header__search-mobile {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
  }
  .basket__inner {
    padding: 16px;
    padding-top: 13px;
  }
  .basket__content {
    margin-top: 0;
  }
  .basket__item {
    position: relative;
    flex-direction: column;
  }
  .basket__content-items {
    margin-top: 10px;
  }
  .basket__choose_all {
    font-size: 16px;
    margin-left: 4px;
  }
  .basket__choose {
    padding-right: 3px;
  }
  .item__info-description {
    margin-left: 24px;
  }
  .item__info-options {
    margin: 5px 0px;
  }
  .item__info-address {
    margin-top: 8px;
  }
  .item__checkbox {
    margin-top: unset;
    position: absolute;
    top: 4px;
    left: 4px;
  }

  .custom-checkbox + label::before {
    background: #ffffff;
    margin-right: 5px;
  }

  .item__info-name {
    font-size: 14px;
    line-height: 20px;
  }

  .option__size {
    display: none;
  }

  .address__bottom {
    display: none;
  }

  .item__counter {
    margin-top: 19px;
    margin-left: -5px;
    max-width: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .item__counter-buttons {
    justify-content: unset;
    padding: 0px 8px 1px 0;
    gap: 7px;
  }
  .item__counter-count_one {
    padding-top: 9px;
  }
  .item__counter-count {
    margin-left: -14px;
  }
  .item__counter-block {
    width: 80px;
    height: 32px;
  }

  .item__counter-block_count {
    font-size: 14px;
    line-height: 20px;
  }

  .item__cost_mobile {
    display: flex;
    align-items: center;
  }
  .basket__item + .basket__item {
    margin-top: 22px;
  }
  .item__counter_two {
    margin-top: 11px;
  }
  .mobile__old-cost {
    margin-left: 5px;
  }
  .mobile_third {
    margin-top: -5px;
  }
  .item__info-name_third {
    margin-top: 1px;
  }
  .item__counter_third {
    margin-bottom: 1px;
  }
  .item__counter_third {
    padding: 0;
  }
  .item__counter-buttons_third {
    padding-right: 0;
  }
  .item__counter-count_third {
    padding-top: 4px;
    margin-left: -23px;
  }
  .basket__content-out {
    margin-top: 41px;
  }
  .item__counter_first {
    margin-top: 25px;
  }
  .one{
    padding: 0px 1px 1px 0;
  }
  .two{
    padding: 0px 1px 1px 0;
  }
  .three{
    padding: 3px 0 0 0;
  }
 .basket__item + .basket__item_third{
    margin-top: 27px;
  }
  .item__info-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .counter-out {
    margin-right: unset;
    justify-content: flex-end;
  }

  .basket__content-delivery {
    padding: 16px;
    margin: 28px -16px 0 -16px;
  }

  .delivery__header-text {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.6px;
  }
  .delivery__header-btn{
    padding: 2px 0px 0 0;
  }
  .delivery__content-point {
    flex-direction: column;
    margin-top: 9px;
  }

  .caption {
    margin-bottom: 5px;
  }
.caption__point{
  letter-spacing: -0.5px;
}
  .description {
    font-size: 16px;
    line-height: 24px;
    margin-top: -7px;
  }
  .price{
    margin-top: -5px;
    letter-spacing: -0.5px;
  }
.description__span{
  padding-top: -1px;
  margin-top: -5px;
}
.delivery__content-point_two{
  margin-top: 14px;
}
.delivery__content-point_three{
  margin-top: 16px;
}
.delivery__content-point_four{
  margin-top: 31px;
}
  .delivery__content-note {
    margin-top: 30px;
    margin-left: 8px;
  }
.note__text_refusal{
  display: inline;
}
  .basket__content-payment {
    padding: 16px;
    margin: 20px -16px 0 -16px;
  }
  .payment__content{
    margin-top: 7px;
    font-size: 16px;
  }
  .payment__content-numbers{
    font-size: 16px;
    margin-right: 13px;
    padding-left: 0;
  }
  .basket__content-form {
    padding: 16px;
    margin: 21px -16px 0 -16px;
  }

  .form__content-first_row,
  .form__content-second_row {
    flex-direction: column;
  }
  .form__content-first_row, .form__content-second_row {
    gap: 44px;
    display: flex;
}
.form__content {
  margin: 21px 0 46px;
}
.form__content-second_row {
  margin-top: 42px;
}
  .basket__inner {
    flex-direction: column;
    align-items: center;
  }

  .basket__total {
    display: block;
    padding: unset;
    background: unset;
    margin-top: -26px;
  }
  .basket__total-total {
    margin-top: 7px;
    margin-left: 0;
}
.total__count_first {
  text-align: left;
}
  .basket__text,
  .basket__cost {
    font-size: 20px;
    line-height: 28px;
    padding-left: 0;
  }
  .basket__total-delivery {
    margin-top: 15px;
}
.note__text_line{
  display: none;
}
.delivery-total-note{
  margin-top: 16px;
  padding: 9px 7px;
}
.note__text{
  margin-left: 10px;
}
.delivery-total__write-off{
  margin-top: 18px;
}
.delivery-total__write-off p{
  letter-spacing: 0;
}
  .delivery-total__header,
  .delivery-total__subheader,
  .delivery-total__span,
  .delivery-total__card,
  .delivery-total__card-numbers {
    display: none;
  }
.agree__name{
  display: none;
}
  .basket__total-delivery {
    margin-bottom: 20px;
  }
  .delivery-total__agree_jackdaw {
    margin-top: 7px;
    margin-bottom: 21px;
}
.delivery-total__agree{
  gap: 11px;
}
}
